In [123]:
import pandas as pd
import numpy as np

df = pd.read_csv('test.csv') 

df.head()

,식당(ID),식당명,행정동명,지역명,주차가능여부,와이파이제공여부,놀이방유무,다국어메뉴판제공여부,화장실정보내용,휴무일정보내용,...,홈페이지(URL),인근랜드마크명,위도,경도,인근랜드마크와거리,스마트오더유무,대표메뉴명,식당상태,해시태그,면적정보내용
0,10012,명동정,NaN,중구,Y,Y,N,N,Y,NaN,...,"http://www.hanjeongik.co.kr/,http://myongdongj...",초전섬유ㆍ퀼트박물관,37.558183,126.984249,59.03875,N,NaN,NORMAL,"룸,모범음식점,트립어드바이저",NaN
1,10014,봉추찜닭,명동중앙우체국점,중구,N,N,N,Y,N,NaN,...,http://www.bongchu.com/,H&M (명동1호점),37.563425,126.982898,29.28563,N,NaN,NORMAL,"모범음식점,씨트립,포장가능",NaN
2,10015,금계찜닭,명동점,중구,N,N,N,N,N,NaN,...,NaN,경성 부민관 폭탄 의거지,37.567560,126.976527,88.77277,N,NaN,NORMAL,포장가능,NaN
3,10016,명동한우방,명동본점,중구,N,Y,N,N,N,NaN,...,NaN,눈스퀘어,37.563425,126.982898,94.97189,N,NaN,NORMAL,"룸,씨트립,포장가능",NaN
4,10018,삼호복집,NaN,서대문구,Y,N,N,Y,Y,일요일,...,http://amhobokzip.modoo.at,이한열박물관,37.555024,126.933853,137.13886,N,NaN,NORMAL,"룸,모범음식점,포장가능",NaN

In [105]:
df = df.loc[df['대표메뉴명'] == '음식']  

df = df[['식당명', '대표메뉴명', '지역명','행정동명', '위도', '경도']]

In [107]:
df.columns = ['name',  # 상호명
              'cate_1',  # 대표메뉴명
              'cate_2',  # 지역명
              'dong',  # 행정동명
              'lon',  # 위도
              'lat'  # 경도
              ]

In [132]:
df['cate_mix'] = df['cate_1'] + df['cate_2']
df['cate_mix'] = df['cate_mix'].str.replace("/", " ")

KeyError: 'cate_1'